<footer class="bd-footer py-5 mt-5 bg-light">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
            <span class="fs-5">Minsait</span>
          </a>
          <ul class="list-unstyled small text-muted">
            <li class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </li>
            <li class="mb-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href=".">Link 1</a></li>
            <li class="mb-2"><a href=".">Link 2</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Guias</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href=".">Guia 1</a></li>
            <li class="mb-2"><a href=".">Guia 1</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Projetos</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href=".">Projeto 1</a></li>
            <li class="mb-2"><a href=".">Projeto 2</a></li>
            <li class="mb-2"><a href=".">Projeto 3</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Comunidade</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href=".">Dentro</a></li>
            <li class="mb-2"><a href=".">Ao lado</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>